body
{ 
    font-family: 'Roboto', sans-serif,verdana;
    max-width:1440px;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    text-align: center;
   
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 32px;
    font-weight: 400;
    padding: 15px 0 10px;
    margin: 0px;
}
h2{
    font-size: 27px;
}

$background-dark:#eaeaea;
$backgroung-light:#f6f6f6;
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$shadow:#cfcfcf;

@mixin bloc-shadow{
    box-shadow: 0px 0px 0.5rem 0px $shadow;
}

header{
    text-align: center;
    @include bloc-shadow;
    position: relative;
    z-index: 10;    
}

.location{
    display: flex;
    justify-content: center;
    background-color: $background-dark;   
        img{
            width: 14px;      
         }
        h4{
            padding-left:18px;
        }
}
.presentation{
    padding: 32px;
    background-color:$backgroung-light;
        p{
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 30px;
        }
        &__btn{
            padding: 14px 24px;
            background: $primary;
            background-image:linear-gradient(to bottom right, $secondary, $primary);        
            border-radius: 100px;
            color: white;
            text-decoration: none;
           
        }
    }
.fonction{
    img{
        width: 14px;
    }    
}