body
{ 
    font-family: 'Roboto', sans-serif,verdana;
    /* max-width:1440px; */
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    text-align: center;
   
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    font-weight: 400;
    padding: 15px 0 10px;
    margin: 0px;
}
h2{
    font-size: 27px;
}
h4{
    font-size: 18px;
}

$background-dark:#eaeaea;
$backgroung-light:#f6f6f6;
$primary:#9356DC;
$secondary:#FF79DA;
$tertiary:#99E2D0;
$shadow:#cfcfcf;
$hover:#f5edff;
$background-nouveau:#99e2d0;
$nouveau:#008766;
$background-footer:#353535;

@mixin bloc-shadow{
    box-shadow: 0px 0px 0.5rem 0px $shadow;
}
@mixin btn-shadow{
    box-shadow: 4px 4px 10px $shadow;
}
@mixin btn-background{
        padding: 14px 24px;        
        background: $primary;
        background-image:linear-gradient(to bottom right, $secondary, $primary);        
        border-radius: 100px;
        color: white;
        text-decoration: none;
        @include btn-shadow();
}

header{
    text-align: center;
    @include bloc-shadow;
    position: relative;
    z-index: 10;   
    img{
        width: 18px;
        position: absolute;
        top:30px;
        left:20px;             
    }      
}
.location{
    display: flex;
    justify-content: center;
    background-color: $background-dark;   
    img{
        width: 14px;      
        }
    h4{
        padding-left:18px;
    }
}
.presentation{
    padding: 32px 32px 70px 32px;
    background-color:$backgroung-light;    
    p{
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__clic{
        @include btn-background();
    }
}
.fonctionnement{
    margin-top: 50px;
    .container{
        max-width: 1280px;
        h2{
            text-align: left;
            padding-left: 20px;
        }  
        &__list{
            counter-reset:number; 
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__picto{
            width: 14px;
            filter: invert(53%) sepia(12%) saturate(4%) hue-rotate(314deg) brightness(91%) contrast(88%);
            margin-right:20px;
            &:hover{
                filter: invert(39%) sepia(72%) saturate(900%) hue-rotate(233deg) brightness(90%) contrast(91%);
            }
        }            
        &__btn{
            padding:26px;
            background-color: $backgroung-light;
            border-radius: 25px;
            margin: 0 24px 24px 24px;
            list-style-type: none;
            counter-increment:number;
            position: relative;
            @include btn-shadow();
            &:hover{
                background-color:$hover;
            }  
            &::before{
                content: counter(number);
                padding: 6px 10px;
                margin-right: 8px;
                vertical-align: top;
                background: $primary;
                border-radius: 60px;
                font-size: 12px;
                color: white;
                position: absolute;	
                top:24px;
                left: -14px;	
            } 
        }
    }
    .list{
        background-color: $backgroung-light;
        padding: 15px 0 60px; 
        text-align: left;        
        h2{
            padding-left: 12px;
        }
        .vignettes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;            
            .box{
                background-color: white;
                text-decoration: none;
                color: black;
                border-radius: 20px;
                max-width: 336px;
                max-height:252px;
                position: relative;
                margin-bottom: 20px;
                @include bloc-shadow();
                &__picture{
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }    
                &__heart{
                    width: 25px;
                    position: absolute;
                    top: 190px;
                    left:290px;
                } 
                h3,p{
                    padding-left: 10px;
                    margin: 6px;
                }
                &__nouveau{
                    padding: 5px;
                    background-color:$background-nouveau ;
                    color: $nouveau;
                    position: absolute;
                    top:12px;
                    left:250px;
                    font-size: 14px;
                }                
            }
        }     
    }
}

.first-picture{
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    position:relative;
}
.resto{
    background-color: $backgroung-light;
    border-top-left-radius:50px;
    border-top-right-radius: 50px;
    margin-top: -60px;
    padding-bottom: 56px;
    position: relative;
    z-index: 1;   
    &__name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 15px 0 15px;
            img{
                width:24px;    
            } 
    }
    &__clic{
        @include btn-background();
    }
}
.all-menu{
    padding:0 10px 20px 10px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.menu{
    text-align: left;  
    max-width: 350px;
    width: 100%;  
    &__title{
        font-weight: 300;
        position: relative;
        &::after{
            content: "";
            width: 45px;
            height: 4px;
            background-color: $background-nouveau;
            position: absolute;
            left: 0;
            bottom: -10px;
        }                   
    }
    &__detail{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;             
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        @include bloc-shadow();
        .txt{
            h4{
                font-weight: 500;
                margin: 0;                
            }
            p{
                margin:0;
                padding-top: 5px;
                font-weight: 200;
            } 
        }
        .price{
            font-weight: bold;
            padding-top: 26px;
        }          
    }

}

footer{
    background-color:$background-footer ;
    color: white;
    text-align: left;
    padding:10px 0 20px 12px;    
    h3{
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        font-weight: lighter;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    img{
        width:12px;
        margin-right: 10px;
        filter: invert(1);                
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: underline;
    }
}