.location{
    display: flex;
    justify-content: center;
    background-color: $background-dark;   
    img{
        width: 14px;      
        }
    h4{
        padding-left:18px;
    }
}
.presentation{
    padding: 32px 32px 70px 32px;
    background-color:$background-light;    
    p{
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__btn{
        @include btn-background();
        cursor: pointer;
        width: 100%;
        transition: background-image 500ms;
        &:hover{
            @include btn-shadow-darken();
            @include btn-bg-darker(); 
        }
    } 
}
.fonctionnement{
    margin-top: 50px;
    &__container{
        max-width: 1280px;
        h2{
            text-align: left;
            padding-left: 20px;
        }  
        ol{
            counter-reset:number; 
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__picto{
            width: 14px;
            filter: invert(53%) sepia(12%) saturate(4%) hue-rotate(314deg) brightness(91%) contrast(88%);
            margin-right:20px;          
        }            
        li{
            display: flex;
            align-items: center;
            padding:26px;
            width: 220px;
            background-color: $background-light;
            border-radius: 25px;
            margin: 0 24px 24px 24px;
            list-style-type: none;
            counter-increment:number;
            position: relative;
            @include btn-shadow();
            &:hover{
                background-color:$hover;           
                &:hover img {
                    filter: invert(39%) sepia(72%) saturate(900%) hue-rotate(233deg) brightness(90%) contrast(91%);
                }
            }
            &::before{
                content: counter(number);
                padding: 6px 10px;
                margin-right: 8px;
                vertical-align: top;
                background: $primary;
                border-radius: 60px;
                font-size: 12px;
                color: white;
                position: absolute;	
                top:24px;
                left: -14px;	
            } 
        }
    }
    &__list{
        background-color: $background-light;
        padding: 15px 0 60px; 
        text-align: left;        
        h2{
            padding-left: 12px;
        }
        &__vignettes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;            
            .box{
                background-color: white;
                text-decoration: none;
                color: black;
                border-radius: 20px;
                max-width: 336px;
                max-height:252px;
                position: relative;
                margin-bottom: 20px;
                @include bloc-shadow();
                &__picture{
                    width: 100%;
                    height: 174px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                } 
                h3,p{
                    padding-left: 10px;
                    margin: 6px;
                }
                &__nouveau{
                    padding: 5px;
                    background-color:$background-nouveau ;
                    color: $nouveau;
                    position: absolute;
                    top:12px;
                    left:250px;
                    font-size: 14px;
                }
            }
        }
    }                
}
